@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.circles{
    position: relative;

}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 0s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}  

html{
    background-color:#ff6f69;
    background: radial-gradient(#ff6f69, #ff8b87);
  
  }
  
  .knockout {
    vertical-align: middle;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size:50pt;
    color: blue;
    color: #fff;
    background: linear-gradient(110deg, #ffeead 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #C5E7D7 34%, #88d8b0 34%);
    background-size: 400%;
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
  .knockout{
      animation: Gradient 5s ease infinite;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 5s ease infinite;
  }
  
  @-webkit-keyframes Gradient {
    0% {
      background-position: 30% 50%
    }
    50% {
      background-position: 25% 50%
    }
    100% {
      background-position: 30% 50%
    }
    
  }
  
  .main{

    margin-left: 35%;
    margin-right:35%;
    margin-top: 15%;
  }

  .text{
    margin-top: 3rem;
    margin-left: 5rem;
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  .navMenu2 {
    position: absolute;
    top: 8.7%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-10%, -50%);
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 50;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    word-spacing: 0.5rem;
  }

  .navMenu2 a {
    color: #f6f4e6;
    text-decoration: none;
    font-size: 1.0em;
    text-transform: uppercase;
    font-weight: 50;
    display: inline-block;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  
  .img {
    position: absolute;
    left: 20rem;
    top: 15rem;
    box-shadow: 10rem;
    text-shadow: 10rem;
    
  }

  .text2 {
    padding-left: 40rem;
    padding-top: 13rem;
    text-shadow: 10rem;
    color: #f6f4e6;
    font-size: 1.1rem;
    font-weight: 50;
    width: 600px;
} 

.text3 {
    padding-left: 10rem;
    padding-top: 8rem;
    text-shadow: 10rem;
    color: #f6f4e6;
    font-size: 1.5rem;
    font-weight: 50;
    width: 600px;
     }

     .p {
        padding-left: 40rem;
        margin-top: -20.1rem;
         }
    
.p2 {
    padding-top: 5rem;
    padding-left: 10rem;
}

.p3 {
    margin-left: 55rem;
    margin-top: -20rem;
}

.p4 {
    margin-left: 63rem;
    margin-top: -6.1rem;
}

.p5 {
    margin-left: 71rem;
    margin-top: -6.1rem;
}